{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div id="all-posts">
    <h3>Following</h1>

    {% if user.is_authenticated %}
        <div id="login-view">
            <form id="post-form">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">New Post</label>
                    <textarea class="form-control" id="body-form" maxlength="255" required></textarea>
                </div>
                <button id="submit-post" type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>
    {% endif %}

    <div id="post-box"></div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" id="page-prev">
                <a class="page-link" id="click-prev">Previous</a>
              </li>

            {% for i in pagecount %}
                <li class="page-item page-list" id="page-list-{{ i }}" value="{{ i }}">
                    <a class="page-link page-num" id="page-link-{{ i }}">{{ i }}</a>
                </li>
            {% endfor %}

          <li class="page-item" id="page-next">
            <a class="page-link" id="click-next">Next</a>
          </li>
        </ul>
      </nav>
</div>
{% endblock %}

{% block script %}
    {{ user.is_authenticated|json_script:"data-userauth" }}
    {{ userid|json_script:"data-userid" }}
    <script src="{% static 'network/following.js' %}"></script>
{% endblock %}