#all-posts {
    margin: auto;
    padding: 10px;
    width: 80%;
    border-right: 2px solid #f8f9fa;
    border-left: 2px solid #f8f9fa;
    background: #e5e4e0;
}

textarea {
    width: 80%;
}

#login-view {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #f8f9fa;
    border-bottom: 2px solid #f8f9fa;
    width: 100%;
    margin: auto;
}

.body {
    background: #e5e4e0;
}

body {
    background: #e5e4e0;
}