#all-posts {
    margin: auto;
    padding: 10px;
    width: 80%;
    border-right: 2px solid #c7c4bc;
    border-left: 2px solid #c7c4bc;
    background: #e5e4e0;
}

textarea {
    width: 80%;
}

#login-view {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #c7c4bc;
    border-bottom: 2px solid #c7c4bc;
    width: 100%;
    margin: auto;
}

.body {
    background-color: #e5e4e0;
}

body {
    background-color: #e5e4e0;
}

.bg-light {
    background-color: #c7c4bc !important;
}

.btn-primary {
    background: #5d9e5d;
    border-color: #5d9e5d;
    margin-right: 6px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #3b653b !important;
    border-color: #3b653b !important;
}

.post-div {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #c7c4bc;
    overflow-wrap: break-word;
}

#profile-title {
    font-size: 16pt;
    display: inline-block;
}

#follow {
    margin-left: 20px;
    margin-bottom: 8px;
    margin-top: 1px;
    width:90px;
}